In [1]:
rows = 'ABCDEFGHI'
cols = '123456789'

In [2]:
def cross(a, b):
      return [s+t for s in a for t in b]

In [3]:
boxes = cross(rows, cols)
boxes

['A1',
 'A2',
 'A3',
 'A4',
 'A5',
 'A6',
 'A7',
 'A8',
 'A9',
 'B1',
 'B2',
 'B3',
 'B4',
 'B5',
 'B6',
 'B7',
 'B8',
 'B9',
 'C1',
 'C2',
 'C3',
 'C4',
 'C5',
 'C6',
 'C7',
 'C8',
 'C9',
 'D1',
 'D2',
 'D3',
 'D4',
 'D5',
 'D6',
 'D7',
 'D8',
 'D9',
 'E1',
 'E2',
 'E3',
 'E4',
 'E5',
 'E6',
 'E7',
 'E8',
 'E9',
 'F1',
 'F2',
 'F3',
 'F4',
 'F5',
 'F6',
 'F7',
 'F8',
 'F9',
 'G1',
 'G2',
 'G3',
 'G4',
 'G5',
 'G6',
 'G7',
 'G8',
 'G9',
 'H1',
 'H2',
 'H3',
 'H4',
 'H5',
 'H6',
 'H7',
 'H8',
 'H9',
 'I1',
 'I2',
 'I3',
 'I4',
 'I5',
 'I6',
 'I7',
 'I8',
 'I9']

In [76]:
from utils import *

In [262]:
row_units = [cross(r, cols) for r in rows]
# Element example:
# row_units[0] = ['A1', 'A2', 'A3', 'A4', 'A5', 'A6', 'A7', 'A8', 'A9']
# This is the top most row.

column_units = [cross(rows, c) for c in cols]
# Element example:
# column_units[0] = ['A1', 'B1', 'C1', 'D1', 'E1', 'F1', 'G1', 'H1', 'I1']
# This is the left most column.

square_units = [cross(rs, cs) for rs in ('ABC','DEF','GHI') for cs in ('123','456','789')]
# Element example:
# square_units[0] = ['A1', 'A2', 'A3', 'B1', 'B2', 'B3', 'C1', 'C2', 'C3']
# This is the top left square.

unitlist = row_units + column_units + square_units

In [334]:
unitlist

[['A1', 'A2', 'A3', 'A4', 'A5', 'A6', 'A7', 'A8', 'A9'],
 ['B1', 'B2', 'B3', 'B4', 'B5', 'B6', 'B7', 'B8', 'B9'],
 ['C1', 'C2', 'C3', 'C4', 'C5', 'C6', 'C7', 'C8', 'C9'],
 ['D1', 'D2', 'D3', 'D4', 'D5', 'D6', 'D7', 'D8', 'D9'],
 ['E1', 'E2', 'E3', 'E4', 'E5', 'E6', 'E7', 'E8', 'E9'],
 ['F1', 'F2', 'F3', 'F4', 'F5', 'F6', 'F7', 'F8', 'F9'],
 ['G1', 'G2', 'G3', 'G4', 'G5', 'G6', 'G7', 'G8', 'G9'],
 ['H1', 'H2', 'H3', 'H4', 'H5', 'H6', 'H7', 'H8', 'H9'],
 ['I1', 'I2', 'I3', 'I4', 'I5', 'I6', 'I7', 'I8', 'I9'],
 ['A1', 'B1', 'C1', 'D1', 'E1', 'F1', 'G1', 'H1', 'I1'],
 ['A2', 'B2', 'C2', 'D2', 'E2', 'F2', 'G2', 'H2', 'I2'],
 ['A3', 'B3', 'C3', 'D3', 'E3', 'F3', 'G3', 'H3', 'I3'],
 ['A4', 'B4', 'C4', 'D4', 'E4', 'F4', 'G4', 'H4', 'I4'],
 ['A5', 'B5', 'C5', 'D5', 'E5', 'F5', 'G5', 'H5', 'I5'],
 ['A6', 'B6', 'C6', 'D6', 'E6', 'F6', 'G6', 'H6', 'I6'],
 ['A7', 'B7', 'C7', 'D7', 'E7', 'F7', 'G7', 'H7', 'I7'],
 ['A8', 'B8', 'C8', 'D8', 'E8', 'F8', 'G8', 'H8', 'I8'],
 ['A9', 'B9', 'C9', 'D9', 'E9', 'F9', 'G9', 'H9', 'I9'],
 ['A1', 'A2', 'A3', 'B1', 'B2', 'B3', 'C1', 'C2', 'C3'],
 ['A4', 'A5', 'A6', 'B4', 'B5', 'B6', 'C4', 'C5', 'C6'],
 ['A7', 'A8', 'A9', 'B7', 'B8', 'B9', 'C7', 'C8', 'C9'],
 ['D1', 'D2', 'D3', 'E1', 'E2', 'E3', 'F1', 'F2', 'F3'],
 ['D4', 'D5', 'D6', 'E4', 'E5', 'E6', 'F4', 'F5', 'F6'],
 ['D7', 'D8', 'D9', 'E7', 'E8', 'E9', 'F7', 'F8', 'F9'],
 ['G1', 'G2', 'G3', 'H1', 'H2', 'H3', 'I1', 'I2', 'I3'],
 ['G4', 'G5', 'G6', 'H4', 'H5', 'H6', 'I4', 'I5', 'I6'],
 ['G7', 'G8', 'G9', 'H7', 'H8', 'H9', 'I7', 'I8', 'I9']]

In [4]:
import os

In [7]:
os.getcwd()

'/Users/danielfriedman/Documents/Udacity/artificial-intelligence/Projects'

In [12]:
os.chdir('/Users/danielfriedman/Documents/Udacity/artificial-intelligence/Projects/1_Sudoku')

In [14]:
puzzle_1='..3.2.6..9..3.5..1..18.64....81.29..7.......8..67.82....26.95..8..2.3..9..5.1.3..'

In [228]:
grid_2='4.....8.5.3..........7......2.....6.....8.4......1.......6.3.7.5..2.....1.4......'

In [31]:
def grid_values(boxes,grid):
    """Convert grid string into {<box>: <value>} dict with '.' value for empties.

    Args:
        grid: Sudoku grid in string form, 81 characters long
    Returns:
        Sudoku grid in dictionary form:
        - keys: Box labels, e.g. 'A1'
        - values: Value in corresponding box, e.g. '8', or '.' if it is empty.
    """
    assert len(grid)==81
    d=dict()
    for key,val in zip(boxes,grid):
        if val=='.':
            d[key]='123456789'
        else:
            d[key]=val
    return d

In [348]:
values= grid_values(boxes,puzzle_1)

In [231]:
values2=grid_values(boxes, grid_2)

## My solution for eliminate, it does not pass the quiz test:

In [207]:
def eliminate_from_units(temp_values, unit_types):
    '''Iterates trough units of the chosen unit type: rows, squares or columns subiterates the boxes'''
    for unit in unit_types:
        for box in unit:
            if len(temp_values[box])==1:
#                 This box has set value, i can eliminate it from all other boxes in this unit           
                temp_unit=unit[:unit.index(box)]+unit[unit.index(box)+1:]
                for i in temp_unit:

                    if len(temp_values[i])!=1:
                        templ=list(temp_values[i])
                        if temp_values[box] in templ:
                            templ.remove(temp_values[box])
#                             print(templ)                    
                            temp_values[i]=''.join(templ)
#                             print(temp_values[i])
                        else:
                            continue
    return temp_values

In [203]:
def eliminate(values):

    """Eliminate values from peers of each box with a single value.

    Go through all the boxes, and whenever there is a box with a single value,
    eliminate this value from the set of values of all its peers.

    Args:
        values: Sudoku in dictionary form.
    Returns:
        Resulting Sudoku in dictionary form after eliminating values.
    """

    temp_values=values.copy()

 
    for unit_types in [row_units, column_units, square_units]:
        temp_values=eliminate_from_units(temp_values, unit_types)
    return temp_values

In [374]:
values3=eliminate(values)

In [373]:
display(values)

123456789 123456789     3     |123456789     2     123456789 |    6     123456789 123456789
    9     123456789 123456789 |    3     123456789     5     |123456789 123456789     1
123456789 123456789     1     |    8     123456789     6     |    4     123456789 123456789
------------------------------+------------------------------+------------------------------
123456789 123456789     8     |    1     123456789     2     |    9     123456789 123456789
    7     123456789 123456789 |123456789 123456789 123456789 |123456789 123456789     8
123456789 123456789     6     |    7     123456789     8     |    2     123456789 123456789
------------------------------+------------------------------+------------------------------
123456789 123456789     2     |    6     123456789     9     |    5     123456789 123456789
    8     123456789 123456789 |    2     123456789     3     |123456789 123456789     9
123456789 123456789     5     |123456789     1     123456789 |    3     123456789 123456789

In [375]:
display(values3)

   45    4578    3   |   49     2     147  |   6     5789    57
   9    24678    47  |   3      47     5   |   78    278     1
   25    257     1   |   8      79     6   |   4    23579   2357
---------------------+---------------------+---------------------
  345    345     8   |   1     356     2   |   9    34567  34567
   7    123459   49  |   59    3569    4   |   1     3456    8
  1345  13459    6   |   7     359     8   |   2     345    345
---------------------+---------------------+---------------------
  134    1347    2   |   6      8      9   |   5     1478    47
   8     1467    47  |   2      5      3   |   17    1467    9
   46    4679    5   |   4      1      7   |   3    24678   2467

In [376]:
values4=only_choice(values3)

[]
['4', '5', '4', '5', '7', '8', '3', '9', '2', '4', '6', '7', '8', '4', '7', '2', '5', '2', '5', '7', '1']
Counter 4
Counter 4
Counter 4
Counter 4
Counter 4
Counter 2
Counter 1
Counter 1
Counter 3
Counter 4
Counter 1
Counter 4
Counter 2
Counter 4
Counter 4
Counter 3
Counter 4
Counter 3
Counter 4
Counter 4
Counter 1
[]
['4', '9', '2', '1', '4', '7', '3', '4', '7', '5', '8', '7', '9', '6']
Counter 3
Counter 2
Counter 1
Counter 1
Counter 3
Counter 3
Counter 1
Counter 3
Counter 3
Counter 1
Counter 1
Counter 3
Counter 2
Counter 1
[]
['6', '5', '7', '8', '9', '5', '7', '7', '8', '2', '7', '8', '1', '4', '2', '3', '5', '7', '9', '2', '3', '5', '7']
Counter 1
Counter 4
Counter 6
Counter 3
Counter 2
Counter 4
Counter 6
Counter 6
Counter 3
Counter 3
Counter 6
Counter 3
Counter 1
Counter 1
Counter 3
Counter 2
Counter 4
Counter 6
Counter 2
Counter 3
Counter 2
Counter 4
Counter 6
[]
['3', '4', '5', '3', '4', '5', '8', '7', '1', '2', '3', '4', '5', '9', '4', '9', '1', '3', '4', '5', '1', '3', '4', '5', '9', '6']
Counter 5
Counter 6
Counter 5
Counter 5
Counter 6
Counter 5
Counter 1
Counter 1
Counter 3
Counter 1
Counter 5
Counter 6
Counter 5
Counter 3
Counter 6
Counter 3
Counter 3
Counter 5
Counter 6
Counter 5
Counter 3
Counter 5
Counter 6
Counter 5
Counter 3
Counter 1
[]
['1', '3', '5', '6', '2', '5', '9', '3', '5', '6', '9', '4', '7', '3', '5', '9', '8']
Counter 1
Counter 3
Counter 4
Counter 2
Counter 1
Counter 4
Counter 3
Counter 3
Counter 4
Counter 2
Counter 3
Counter 1
Counter 1
Counter 3
Counter 4
Counter 3
Counter 1
[]
['9', '3', '4', '5', '6', '7', '3', '4', '5', '6', '7', '1', '3', '4', '5', '6', '8', '2', '3', '4', '5', '3', '4', '5']
Counter 1
Counter 5
Counter 5
Counter 5
Counter 3
Counter 2
Counter 5
Counter 5
Counter 5
Counter 3
Counter 2
Counter 1
Counter 5
Counter 5
Counter 5
Counter 3
Counter 1
Counter 1
Counter 5
Counter 5
Counter 5
Counter 5
Counter 5
Counter 5
[]
['1', '3', '4', '1', '3', '4', '7', '2', '8', '1', '4', '6', '7', '4', '7', '4', '6', '4', '6', '7', '9', '5']
Counter 3
Counter 2
Counter 6
Counter 3
Counter 2
Counter 6
Counter 4
Counter 1
Counter 1
Counter 3
Counter 6
Counter 3
Counter 4
Counter 6
Counter 4
Counter 6
Counter 3
Counter 6
Counter 3
Counter 4
Counter 1
Counter 1
[]
['6', '8', '9', '2', '5', '3', '4', '1', '7']
Counter 1
Counter 1
Counter 1
Counter 1
Counter 1
Counter 1
Counter 1
Counter 1
Counter 1
[]
['5', '1', '4', '7', '8', '4', '7', '1', '7', '1', '4', '6', '7', '9', '3', '2', '4', '6', '7', '8', '2', '4', '6', '7']
Counter 1
Counter 3
Counter 5
Counter 6
Counter 2
Counter 5
Counter 6
Counter 3
Counter 6
Counter 3
Counter 5
Counter 3
Counter 6
Counter 1
Counter 1
Counter 2
Counter 5
Counter 3
Counter 6
Counter 2
Counter 2
Counter 5
Counter 3
Counter 6

In [377]:
display(values4)

  45   4578   3   |  49    2     1   |  6    5789   57
  9     6     47  |  3     47    5   |  78   278    1
  25   257    1   |  8     79    6   |  4   23579  2357
------------------+------------------+------------------
 345   345    8   |  1    356    2   |  9   34567 34567
  7     2     49  |  59   3569   4   |  1    3456   8
 1345 13459   6   |  7    359    8   |  2    345   345
------------------+------------------+------------------
 134   1347   2   |  6     8     9   |  5    1478   47
  8    1467   47  |  2     5     3   |  17   1467   9
  46    9     5   |  4     1     7   |  3   24678  2467

## Implement only choice

In [340]:
values=values3

In [343]:
display(values)

  45   4578   3   |  49    2     1   |  6    5789   57
  9     6     47  |  3     47    5   |  78   278    1
  25   257    1   |  8     79    6   |  4   23579  2357
------------------+------------------+------------------
 345   345    8   |  1    356    2   |  9   34567 34567
  7     2     49  |  59   3569   4   |  1    3456   8
 1345 13459   6   |  7    359    8   |  2    345   345
------------------+------------------+------------------
 134   1347   2   |  6     8     9   |  5    1478   47
  8    1467   47  |  2     5     3   |  17   1467   9
  46    9     5   |  4     1     7   |  3   24678  2467

In [369]:
def only_choice(values):
    """Finalize all values that are the only choice for a unit.

    Go through all the units, and whenever there is a unit with a value
    that only fits in one box, assign the value to this box.

    Input: Sudoku in dictionary form.
    Output: Resulting Sudoku in dictionary form after filling in only choices.
    """
    square_units = [cross(rs, cs) for rs in ('ABC','DEF','GHI') for cs in ('123','456','789')]
    for square in square_units: 
        # get dict of boxes in each square
        square_boxes=dict()
        for box in square:
            # Split string into list of integers
            box_vals=list(values[box])
            # Add list as value to box in the dict:
            square_boxes[box]=box_vals

    # iterate through each of those lists and make a list of all values


        int_list=[]
        print(int_list)
        for key in square_boxes:
            for val in square_boxes[key]:
                int_list.append(val)

        # iterate list of all values find which number does not repeat, use counter
        print(int_list)
        for i in int_list:
            counter=0
            for j in int_list:
                if i==j:
                    counter+=1
            print("Counter {}".format(counter))
            if counter==1:        
            # find which box has that number:
                for key in square_boxes:
                    if i in square_boxes[key]:
                        # make that number the only choice for that box in values{}
                        values[key]=str(i)
    return values

In [342]:

for square in square_units: 
        # get dict of boxes in each square
    square_boxes=dict()
    for box in square:
        # Split string into list of integers
        box_vals=list(values[box])
        # Add list as value to box in the dict:
        square_boxes[box]=box_vals

    # iterate through each of those lists and make a list of all values

    # iterate list of all values find which number does not repeat, use counter
    int_list=[]
    for key in square_boxes:
        for val in square_boxes[key]:
            int_list.append(val)

    for i in int_list:
        counter=0
        for j in int_list:
            if i==j:
                counter+=1

        if counter==1:        
        # find which box has that number:
            for key in square_boxes:
                if i in square_boxes[key]:
                    # make it the only choice for that box in values
                    values[key]=str(i)
    

                
    
                

# Convert to strin

In [263]:
units=extract_units([row_units, column_units, square_units],boxes)

In [268]:
peers=extract_peers(units,boxes)

In [271]:
for peer in peers['A1']:
    print(type(peer))

In [273]:
peers

defaultdict(set, {'A1': set()})

## Hard Sudoku

In [232]:
display(values2)

    4     123456789 123456789 |123456789 123456789 123456789 |    8     123456789     5
123456789     3     123456789 |123456789 123456789 123456789 |123456789 123456789 123456789
123456789 123456789 123456789 |    7     123456789 123456789 |123456789 123456789 123456789
------------------------------+------------------------------+------------------------------
123456789     2     123456789 |123456789 123456789 123456789 |123456789     6     123456789
123456789 123456789 123456789 |123456789     8     123456789 |    4     123456789 123456789
123456789 123456789 123456789 |123456789     1     123456789 |123456789 123456789 123456789
------------------------------+------------------------------+------------------------------
123456789 123456789 123456789 |    6     123456789     3     |123456789     7     123456789
    5     123456789 123456789 |    2     123456789 123456789 |123456789 123456789 123456789
    1     123456789     4     |123456789 123456789 123456789 |123456789 123456789 123456789